*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Muli', sans-serif;
    font-size:70%;
    word-spacing: 1px;
    letter-spacing: .7px;
}
body{
    font-size: 1.5rem;
    line-height: 1.6;
    background-color: $white-color;
    color: $text-color-dark;
}


a{
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img {
    width: 100%;
}